[Desktop Entry]
Version=1.0
Icon=brawlback-dolphin
Exec=brawlback-dolphin
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Brawlback Dolphin
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
